@(request: play.mvc.Http.Request, webJarsUtil: org.webjars.play.WebJarsUtil)
<!DOCTYPE html>

<html>
<head>
    <title>Reactive Tweets News Dashboard</title>
    @Html(webJarsUtil.script("jquery.min.js"))
    @Html(webJarsUtil.script("jquery.flot.js"))
    <script type='text/javascript' src='@routes.Assets.at("javascripts/userProfile.js")'></script>
</head>
<body data-ws-url="@routes.Twitter.user_timeline.webSocketURL(request)">
	    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">Reactive Stocks</a>
                <form id="addsymbolform" class="navbar-form pull-right">
                    <input id="addsymboltext" type="text" class="span2" placeholder="SYMBOL">
                    <button type="submit" class="btn">Add Stock</button>
                </form>
            </div>
        </div>
    </div>
    <div id="stocks" class="container">

    </div>
</body>
</html>
